*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    padding: 100px;
}
.to_do_list{
    width: 100%;
    max-width: 540px;
    background: #ffff;
    padding: 40px 30px 70px;
    margin:  auto ;
    border-radius: 20px;
}
.to_do_list h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #002765;
}
.to_do_list img {
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 30px;
    border-radius: 30px;
    margin-bottom: 25px;
}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding:  16px 20px;
    font-weight: 100;
}
button{
      border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    background: #ff5945;
    color: #fff;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./assets/radio.png);
    background-position: center;
    background-size: cover;
    left: 8px;
    top: 9px;
}
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(./assets/checked.png);

}
ul li span{
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    position: absolute;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}